appnope==0.1.0
cycler==0.10.0
decorator==4.1.2
igraph==0.1.11
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
jgraph==0.2.1
matplotlib==2.0.2
numpy==1.13.1
olefile==0.44
opencv-python==3.3.0.9
pandas==0.20.3
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
PyQt5==5.9
pyqtgraph==0.10.0
python-dateutil==2.6.1
pytz==2017.2
scikit-learn==0.19.0
scipy==0.19.1
simplegeneric==0.8.1
sip==4.19.3
six==1.10.0
sklearn==0.0
traitlets==4.3.2
wcwidth==0.1.7
